.newdoc-list-container {
    background-color: #fff;
    padding: 20px;
    border:none;
    margin-left:auto;
    width:100%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: auto;
}


.newdoc-list-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.newdoctable  {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.newdoctable  th, .newdoctable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.newdoctable th {
    background-color: #f2f2f2;
}

.Actbuttons button {
    padding: 8px 12px;
    background-color: #5598a5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.Actbuttons button:hover {
    background-color: #5598a5;
}